* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

/* анимация кнопки меню -> работает если нет ссылки на menu.html*/

/* 
#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    top: 20px;
    left: 20px;
    width: 32px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 32px;
    height: 2.5px;
    background-color: #E8E8E8;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__item_menu {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    position: absolute;
    top: 37px;
    left: 34px;
}

.menu__item_name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    display: flex;
    text-align: right;
    padding-top: 24px;
    padding-bottom: 12px;
}

.menu__box {
    position: absolute;
    display: block;
    visibility: hidden;
    transform: translateX(1287px);
    top: 75px;
    width: 232px;
    height: 730px;
    padding: 78px 32px;
    list-style: none;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-top: 12px;
    margin-left: 54px;
    text-decoration: none;
}

.menu__item:hover {
    background: #FFFFFF;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
} */

.menu {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background: #222222;
    align-items: center;
}

.menu__left {
    display: flex;
    align-items: flex-end;
    gap: 41px;
}

.menu__right {
    display: flex;
    align-items: flex-end;
    gap: 33px;
}

.top {
    background-color: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
}

.top__img {
    width: 50%;
}

.top__content {
    padding-left: 64px;
}

.top__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 67%;
}

.top__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.top__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.span {
    color: #F16D7F;
}

.product {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
}

.product__content {
    position: relative;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sale-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.heading-mini {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.product_item {
    min-height: 180px;
    grid-column: 1 / -1;
}

/* catalog */

.catalog {
    padding-bottom: 96px;
}

.catalog__content {
    margin-top: 48px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
}

.heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-top: 96px;
}

.par {
    margin-top: 6px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.catalog__card {
    position: relative;
}

.catalog__card:hover .catalog__img {
    filter: brightness(0.5);
}

.catalog__img {
    width: 100%;
}

.description {
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
}

.heading-catalog {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.catalog-par {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.text-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.catalog__card:hover .catalog__add {
    display: flex;
}

.catalog__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;
}

.catalog__add:hover {
    box-shadow: 0 0 5px #fff;
}

.buttom {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    padding: 14px 38px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 95px;
}

.buttom:hover {
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    color: #FFFFFF;
}

.advantages {
    background-color: #222224;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.advantages__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: auto;
    margin-bottom: 0px;
}

.advantages_img {
    max-width: 100%;
}

.advantades__heading {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.advantages__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}


.footer {
    background: url(img/subscribe.svg) no-repeat;
    height: 448px;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    background-size: cover;
    background-position: center bottom;
}

.footer__top {
    background-image: url(img/face.svg);
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 96px;
    height: 96px;
    left: 22%;
    top: 97px;
}

.top-par {
    width: 359px;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    color: #222224;
    position: absolute;
    top: 136%;
}

.footer__top_sub {
    text-align: center;
    padding-top: 150px;
    padding-left: 800px;
    position: absolute;
}

.footer_heading {
    font-weight: 700;
    font-size: 24px;
    color: #222224;
}

.footer-par {
    color: #222224;
}

.footer__button {
    margin-top: 32px;
    width: 256px;
    height: 49px;
    position: absolute;
    margin-left: 795px;
    top: 243px;
    background-color: #E1E1E1;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    opacity: 0.6;
    padding: 22px;
}


.footer__button-right {
    position: absolute;
    width: 100px;
    margin-left: 1000px;
    margin-top: 243px;
    height: 49px;
    background: #E05C6E;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 18px;
}

.footer__bottom {
    background-color: #222224;
    display: flex;
    justify-content: space-between;
}

.icons {
    margin-top: 32px;
}

.footer__copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding: 30px 30px;
}

.connection {
    border: 1px solid white;
    background-color: #FFFFFF;
    padding: 8px 10px;
}

.connection:hover {
    background: #0e9280;
    filter: invert();
}

/* 2 страница */
/* ----------------------------------------------------------------------- */

.breadcrumb {
    height: 148px;
    background: #F8F3F4;
    display: flex;
    justify-content: space-between;
}

.heading__bread {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    padding-top: 58px;
}

.breadcrumb__box {
    padding-top: 65px;
}

.breadcrumb__item {
    width: 212px;
    display: flex;
}

.breadcrumb__item>li+li::before {
    padding: 0 5px;
    color: #636363;
    content: "/";
}

.breadcrumb-list {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

li {
    list-style-type: none;
}

.category {
    padding-top: 52px;
    display: flex;
}

.details {
    width: 360px;
}

.horiz_line {
    border: 1px solid #EBEBEB;
}


summary {
    display: block;
}

.summary__filter {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.summary__filter::after {
    content: url(img/img_catalog/filter.svg);
    padding-left: 11px;
}

.summary__filter:hover {
    color: #EF5B70;
}

.summary__name,
.summary__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-top: 12px;
}

.sum-span {
    color: #EF5B70;
}

.sort {
    display: flex;
    justify-content: center;
}

.sort__summary {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-left: 28px;
}

.sort__summary::after {
    content: url(img/img_catalog/sort_array.svg);
    color: #6F6E6E;
    padding-left: 10px;
}

.sort__form {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    margin-top: 5px;
}

.size {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    padding-left: 9px;
    padding-top: 9px;
}

.catalog__content_part {
    margin-top: 64px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
}

.pagination {
    margin-top: 48px;
    margin-bottom: 96px;
}

.paginator__nav {
    display: flex;
    justify-content: center;
}

.pagination__ul {
    width: 282px;
    border: 2px solid #EBEBEB;
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
}

.page-link-one {
    color: #EF5B70;
}

.page-link {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #EBEBEB;
    opacity: unset;
    text-align: center;
}

/* 3 страница product */

.catalog__content_product {
    margin-top: 129px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    margin-bottom: 128px;
}

.image__slide {
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
    margin-bottom: -60px;
}

.image__array {
    margin-top: 365px;
}


/* .image__big {
    display: flex;
    justify-content: center;
}

.image__slide-array {
    display: flex;
    justify-content: space-between;
} */

.image__array {
    background: rgba(42, 42, 42, 0.15);
    padding: 12px 17px;
}

.collection {
    margin-top: 22px;
    width: 1141px;
    margin-right: auto;
    margin-left: auto;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    text-align: center;
    position: relative;
}

.collection__heading {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding-top: 64px;
}

.line__pink {
    border-bottom: 3px solid #EF5B70;
    width: 63px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
}

.collection__head {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding-top: 12px;
}

.collection__text {
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    padding-top: 48px;
}

.collection__price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding-top: 32px;
    padding-bottom: 65px;
}

.line {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 65px;
}

.collection__cart {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 65px;
}


.product__add {
    border: 1px solid #F26376;
    width: 211px;
    height: 44px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    color: #F26376;
}

.product__add:hover {
    box-shadow: 0 0 5px #F26376;
}