* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}


/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 32px;
    /* height: 23px;
    /* width: 100%; */
    height: 2px;
    background-color: #E8E8E8;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__item_menu {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    position: absolute;
    top: 37px;
    left: 34px;
}

.menu__item_name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    display: flex;
    text-align: right;
    padding-top: 24px;
}

/* контейнер меню */
.menu__box {
    position: absolute;
    display: block;
    visibility: hidden;
    top: 76px;
    width: 232px;
    /*???? h brain*/
    height: auto;
    padding: 78px 32px;
    list-style: none;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu__item {
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-top: 12px;
    margin-left: 54px;
    text-decoration: none;
}

.menu__item:hover {
    background: #FFFFFF;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}



.menu {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background: #222222;
    align-items: center;
}

.menu__left {
    display: flex;
    align-items: flex-end;
    gap: 41px;
}

.menu__right {
    display: flex;
    align-items: flex-end;
    gap: 33px;
}

.top {
    background-color: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
}

.top__img {
    width: 50%;
}

.top__content {
    padding-left: 64px;
}

.top__info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 67%;
}

.top__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.top__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.span {
    color: #F16D7F;
}

.product {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
}

.product__content {
    position: relative;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sale-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.heading-mini {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.product_item {
    min-height: 180px;
    grid-column: 1 / -1;
}

/* catalog */

.catalog {
    padding-bottom: 96px;
}

.catalog__content {
    margin-top: 48px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
}

.heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-top: 96px;
}

.par {
    margin-top: 6px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.catalog__card {
    position: relative;
}

.catalog__card:hover .catalog__img {
    filter: brightness(0.5);
}

.catalog__img {
    width: 100%;
}

.description {
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 16px;
}

.heading-catalog {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.catalog-par {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.text-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.catalog__card:hover .catalog__add {
    display: flex;
}

.catalog__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;
}

.catalog__add:hover {
    box-shadow: 0 0 5px #fff;
}

.buttom {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    padding: 14px 38px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 95px;
}

.buttom:hover {
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    color: #FFFFFF;
}

.neutral__content {
    background: #222224;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.neutral__item {
    display: flex;
    flex-direction: column;
}

.neutral_img {
    margin-top: 103px;
}

.neut_img {
    margin-top: 96px;
}

.neutral-heading {
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 28px;
}

.neutral-par {
    width: 300px;
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 16px;
    margin-bottom: 104px;
}

.sub_footer {
    background: url(img/subscribe.svg) no-repeat;
    width: 100%;
    height: 448px;
    position: relative;
}

.footer__top {
    background-image: url(img/face.svg);
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 96px;
    height: 96px;
    left: 22%;
    top: 97px;
}

.top-par {
    width: 359px;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    color: #222224;
    position: absolute;
    top: 136%;
}

.footer__top_sub {
    text-align: center;
    padding-top: 150px;
    padding-left: 800px;
    position: absolute;
}

.footer_heading {
    font-weight: 700;
    font-size: 24px;
    color: #222224;
}

.footer-par {
    color: #222224;
}

.footer__button {
    width: 256px;
    height: 49px;
    position: absolute;
    margin-left: 795px;
    top: 243px;
    background-color: #E1E1E1;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    padding: 22px;
}

.footer__button-right {
    position: absolute;
    width: 100px;
    margin-left: 1000px;
    margin-top: 243px;
    height: 49px;
    background: #E05C6E;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 18px;
}

.footer__bottom {
    background-color: #222224;
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    margin-right: 235px;
}

.footer__contacts {
    margin-top: 32px;
    margin-left: 230px;
}

.connection:hover {
    background: #0e9280;
    filter: invert();
}

.bottom-par {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding: 30px 30px;
}

.connection {
    border: 1px solid white;
    background-color: #FFFFFF;
    padding: 8px 10px;
}


@media (max-width: 768px) {
    .menu {
        justify-content: space-between;
    }

    .image-basket {
        margin-right: 41px;
    }

    .neutral__content {
        flex-direction: column;
    }
}