* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-style: normal;
}

/* действует при условии одного листа без разбивки на дивы внутри top-menu  
.top__content {
    display: flex;
    flex-direction: column;
    height: 100%;
} */

.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: #222222;
}

.bottom__right {
    display: flex;
}

/* если прописывать каждый значок, то будет ровно, как в макете, но это неудобно */
/* .logo {
    margin-top: 18px;
    margin-bottom: 19px;
}

.search {
    margin-top: 28px;
    margin-left: 41px;
    margin-bottom: 20px;
} */

.bottom__left {
    display: flex;
}

.menu__list-item {
    margin-top: 27px;
    margin-left: 41px;
    margin-bottom: 20px;
}

.top__info {
    background-color: #F1E4E6;
    background-image: url(img/man.png);
    background-repeat: no-repeat;
    flex-grow: 1;
    height: 764px;

}

.top__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    position: absolute;
    left: 55.75%;
    padding-top: 290px;
}

.text {
    font-size: 34px;
    line-height: 58px;
    color: #222222;
    position: absolute;
    left: 55.75%;
    padding-top: 335px;
}

.span {
    color: #F16D7F;

}

.rectangle {
    position: absolute;
    left: 54%;
    padding-top: 289px;
}

/* .product__content {
    display: flex;
    justify-content: center;
    padding-top: 65px;
}

.card {
    padding-right: 30px;
    display: flex;

}

.heading-mini {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #222222;

} */

.product__content {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 65px;
}

.card {
    padding-right: 30px;
    display: flex;
}

.heading-mini {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    position: absolute;
    top: 53%;
    padding-left: 103px;
}

.product__card {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

.card_img {
    width: 100%;
}

.product_heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    padding-top: 65px;
}

.product-par {
    color: #F16D7F;
    text-align: center;
    position: absolute;
    padding-top: 85px;
    font-weight: 400;
    font-size: 26px;
    text-transform: uppercase;
}

/* catalog */

.heading {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-top: 96px;
}

.par {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}


.catalog__content {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    flex-wrap: wrap;
}

.catalog__card {
    Width: 360px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.description {
    margin-left: 18px;
}

.heading-catalog {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25px;
}

.catalog-par {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-top: 12px;
    word-wrap: break-word;
}

.text-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 18px;
    padding-bottom: 20px;
}

.buttom {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    padding: 14px 38px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 95px;
}

.buttom:hover {
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    color: #FFFFFF;
}

.neutral__content {
    background: #222224;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.neutral__item {
    display: flex;
    flex-direction: column;
}

.neutral_img {
    margin-top: 103px;
}

.neut_img {
    margin-top: 96px;
}

.neutral-heading {
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 28px;
}

.neutral-par {
    width: 300px;
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 16px;
    margin-bottom: 104px;
}

.sub_footer {
    background-image: url(img/subscribe.svg);
    width: 100%;
    height: 448px;
    position: relative;
}

.footer__top {
    background-image: url(img/face.svg);
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 96px;
    height: 96px;
    left: 22%;
    top: 97px;
}

.top-par {
    width: 359px;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    color: #222224;
    position: absolute;
    top: 136%;
}

.footer__top_sub {
    text-align: center;
    padding-top: 150px;
    position: absolute;
    left: 50.81%;
    right: 14.38%;
}

.footer_heading {
    font-weight: 700;
    font-size: 24px;
    color: #222224;
}

.footer-par {
    color: #222224;
}

.footer__button {
    width: 256px;
    position: absolute;
    left: 57.31%;
    right: 26.69%;
    top: 54.24%;
    bottom: 34.82%;
    background-color: #E1E1E1;
    text-decoration: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    padding: 22px;
}

.footer__button-right {
    position: absolute;
    left: 73.31%;
    right: 20.44%;
    top: 54.24%;
    bottom: 34.82%;
    background: #E05C6E;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 18px;
}

.footer__bottom {
    background-color: #222224;
}

.bottom-par {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding: 30px 30px;
}